.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}


.list {
  background-color: #FFF;
  outline: none;
  border: none;
  cursor: pointer;
}